# Config for goobi steps
# Save in utf8 without BOM.
# No spaces in keys!

[general]
# debug, log_max_bytes, log_backup_count and  log_email can be overwritten in the main section of a step
debug = false
log_use_email = false
log_use_gui_msg= true
log_max_bytes = 50000000
log_backup_count = 4 
log = /opt/digiverso/logs/goobi_scripts.log
#log_email = jeel@kb.dk

[folder_structure_creator]
debug=false
log = /opt/digiverso/logs/folder_structure_creator.log

[create_process_folder_structure]
log_use_gui_msg = true
debug=false

[process_folder_structure]
# http://diswiki.kb.dk/w/index.php/Udvikling_scripts_til_Goobi#Process_folder_structure
doc_pdf_path = documents/pdf/
doc_invalid_path = documents/invalid/
img_master_path = images/master/
img_invalid_path = images/invalid/
metadata_toc_path = metadata/toc/
metadata_alto_path = metadata/alto/
metadata_ojs_path = metadata/ojs/
metadata_invalid_path = metadata/invalid/

[process_files]
metadata_goobi_file = meta.xml
metadata_goobi_anchor_file = meta_anchor.xml

[list_arguments]
debug = false
log = /opt/digiverso/logs/list_arguments.log

[move_invalid_files]
debug = false
log = /opt/digiverso/logs/step_move_invalid_files.log
log_email_subject = Goobi Dev Remove Junk Files
valid_file_exts = tif;tiff;jpg;jpeg;jpe;jif;jfif;jfi;jp2;j2k;jpf;jpx;jpm;mj2
; potential vals 0 || 1 || 2
; 0 - all errors will cause script to stop
; 1 - serious errors will cause script to stop
; 2 - only critical errors will cause script to stop
break_on_errors = 0
err_msg_no_files_added = No files have been added to process or files have not been placed in correct folder
err_msg_invalid_files = Invalid files have been added to process. These have been moved to invalid folder. Please confirm.
err_msg_contains_folders = One or more folders have been added to process folder. This is not allowed. The folder(s) has been moved to invalid folder.

[step_tester]
debug = true
log = /opt/digiverso/logs/step_tester.log
log_email_subject = Goobi Tester step

[goobi]
host = 127.0.0.1:8080
passcode = test

[copy_to_limb]
log = opt/digiverso/logs/step_copy_to_limb.log
limb_transit = /tmp/transit
limb_hotfolder = /tmp/hotfolder
sleep_interval=600
retries = 10

[limb_output]
limb_output = /mnt/hgfs/limb-01/tidsskrift-dk/
alto = ALTO
toc = Toc
pdf = JP2K 1-20
input_files = JP2000_lossless
log = /opt/digiverso/logs/step_validate_limb_output.log
retry_num = 5
retry_wait = 300

[ojs]
log = /opt/digiverso/logs/step_create_ojs.log
metadata_goobi_anchor_file = meta_anchor.xml
toc_path = metadata/toc
anchor_required_fields = TitleDocMainShort;DocLanguage;PublicationYear
